.family {
  background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url(/assets/img/family-bg.jpg)no-repeat;
  background-size: cover;


  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__info {
    width: 60%;
    margin: 100px 0px;
    text-align: center;
    @media (max-width: $smDesktopWidth ) {
      & {
        width: 80%;
        margin: 40px 0px;
      }
    }

    @media (max-width: $screen-sm) {
      & {
        width: 100%;
      }
    }
  }

  &__title {
    font-size: 50px;
    text-shadow: -2px 2px 5px rgba(86,37,23,0.48);

    @media (max-width: $screen-sm) {
      & {
        font-size: 28px;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.48);
      }
    }
  }

  &__description {
    font-size: 22px;
    text-shadow: -2px 2px 5px rgba(4, 2, 1, 0.48);

    @media (max-width: $screen-sm) {
      & {
        font-size: 18px;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.79);
      }
    }
  }
}